.count{
    background: rgb(156, 156, 194);
    padding: 30px;
    padding-left: 45px;
    border-radius: 30px;
    width: 40px;
}

.counter-minus{
    background: gray;
    padding: 20px;
    border-style: none;
    border-radius: 9px;
}
.counter-plus{
    background: gray;
    padding: 20px;
    border-style: none;
    border-radius: 9px;
}